<section
  aria-labelledby="pricing-section"
  id="pricing"
  class="mx-auto w-full lg:px-24 max-w-screen-2xl md:px-12 items-center px-8 py-20 scroll-mt-12"
>
  <div class="flex gap-10 items-center">
    <div class="flex gap-6 flex-col flex-[1.2]">
      <div class="lg:pr-8 text-black text-2xl">
        <span class="font-bold font-display">Mail</span>Pulse
      </div>

      <div class="text-3xl font-bold">
        Save up to 50% annually on a membership and watch your email marketing
        thrive
      </div>

      <p class="text-sm text-slate-500">
        Elevate your email marketing while keeping your budget in check. At
        $3,000 per month, our subscription not only grants you unlimited access
        to top-tier email marketing development but also significant cost
        savings.
      </p>

      <p class="text-sm text-slate-500">
        Consider this: the average annual salary for a junior developer ranges
        from $40,000 to $70,000 annually, our subscription, which translates to
        $35,940 annually, means savings of up to 50%. Plus, you'll gain the
        expertise of a seasoned team, ensuring your email marketing performs at
        its best. Don't miss out on this cost-effective solution to supercharge
        your email marketing campaigns with MailPulse.
      </p>

      <div class="text-sm text-slate-800">
        Have any questions? <a href="#" class="text-accent-400">Let us know</a>
      </div>
    </div>
    <div class="flex-1 flex gap-10">
      <div
        class=" flex-1 border-y-[12px] border-slate-800 shadow-xl rounded-xl flex flex-col gap-6 p-6"
      >
        <div>
          <div>One request at a time. Pause or cancel anytime</div>
        </div>
        <div class="flex flex-col gap-2">
          <div>
            $ 2,995/m
            <div>Pause or cancel anytime</div>
          </div>
          <a href="https://buy.stripe.com/28o3dJ1RQ5ribCM000" target="_blank">Get started</a>
          <a>Book a call</a>
        </div>
        <hr />
        <div>
          <div>What's included:</div>
          <ul class="list-disc">
            <li class="ml-5">One request at a time</li>
            <li class="ml-5">Average 48 hour delivery</li>
            <li class="ml-5">Unlimited emails</li>
            <li class="ml-5">Unlimited users</li>
            <li class="ml-5">Easy credit-card payments</li>
            <li class="ml-5">Pause or cancel anytime</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
