<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-screen-2xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
        >
          A Paradigm Shift in Email Marketing Development
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500"
        >
          With limitless development requests, asynchronous collaboration, and
          tailored expertise, we're breaking free from conventions
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-screen-2xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-14 w-14 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="infinite-outline"
                    role="img"></ion-icon>
                </div>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                Enroll in a plan and make unlimited requests for email marketing
                development
              </div>
            </div>

            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-14 w-14 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="calendar-outline"
                    role="img"></ion-icon>
                </div>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                Receive your request within a few business days on average,
                Monday to Friday.
              </div>
            </div>

            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-14 w-14 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-6 w-6"
                    name="mail-outline"
                    role="img"></ion-icon>
                </div>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                We're dedicated to refining your emails until they meet your
                complete satisfaction
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
