<section aria-labelledby="faq-title" id="faq">
  <div
    class="mx-auto w-full lg:px-24 max-w-screen-2xl md:px-12 items-center px-8 py-20 scroll-mt-12"
  >
    <div>
      <div class="mx-auto max-w-3xl lg:text-center">
        <div>
          <p
            class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
          >
            Frequently Asked Question
          </p>
        </div>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              Why wouldn't I just hire a full-time developer?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Good question! For starters, the annual cost of a full-time
              junior-level developer is around $55,000, plus benefits (and if
              you having a senior-level developer creating your email marketings
              then this value goes high above $100,000). Aside from that, you
              may not always have enough work to keep them busy at all times, so
              you're stuck paying for time you aren't able to utilize.
            </p>

            <p class="text-slate-500 text-sm">
              With the monthly plan, you can pause and resume your subscription
              as often as you need to ensure you're only paying your development
              when you have work available for them.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              Is there a limit to how many requests I can have?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Once subscribed, you're able to add as many development requests
              to your queue as you'd like, and they will be delivered one by
              one.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              How fast will I receive my email marketings?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              On average, most requests are completed in just two days or less.
              However, more complex requests can take longer.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              How does the pause feature work?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              We understand you may not have enough development work to fill up
              entire month. Perhaps you only have one or two development
              requests at the moment. That's where pausing your subscription
              comes in handy.
            </p>
            <p class="text-slate-500 text-sm">
              Billing cycles are based on 31 day period. Let's say you sign up
              and use the service for 21 days, and then decide to pause your
              subscription. This means that the billing cycle will be paused and
              you'll have 10 days of service remaining to be used anytime in the
              future.
            </p>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              What technologies do you use?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Most requests are hosted on private repositories on Github, and
              created using React and <a
                class="text-accent-400"
                href="https://react.email/">react email</a
              >. You'll have access to both the react code and the HTML
              generated from it.
            </p>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              How do I request the email marketings?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              MailPulse offers a ton of flexibility in how you request email
              marketings using Trello. Some common ways clients request email
              marketings is directly via Trello, sharing Figma designs or
              Photoshop files. Basically, if it can be linked to or shared in Trello,
              it's fair game.
            </p>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              What if I only have a single request?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              That's fine. You can pause your subscription when finished and
              return when you have additional development needs. There's no need to
              let the remainder of your subscription go to waste.
            </p>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              Are there any refunds if I don't like the service?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-slate-500 text-sm">
              Due to the high quality nature of the work, there will be no
              refunds issued.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
